.ad-container{
    height: fit-content;
    width: 400px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(124, 68, 180);
    display: flex;
    justify-self: center;
    cursor: pointer;
}
@media only screen and (max-width: 400px){
    .ad-container{
        width: 100%;
    }
    .u-annon{
        width: 100%;
    }
}

.meyo-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.vertical-container{
    width: 240px;
    height: 100%;
    cursor: pointer
}
.horizontal-ads-container{
    height: fit-content;
    width: fit-content;
    margin-bottom: 10px;
    cursor: pointer
}
.ad-container-mobile{
    height: fit-content;
    width: fit-content;
    margin-bottom: 5px;
    cursor: pointer
}
.ad-container-desktop{
    height: fit-content;
    width: fit-content;
    margin-bottom: 5px;
    cursor: pointer
}
@media only screen and (min-width: 750px) {
    .ad-container-mobile{
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    .veritcal-container{
        display: none;
    }
    .ad-container-desktop{
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .meyo-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .veritcal-container{
        display: none;
    }
}