.ad-container{
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(124, 68, 180);
    display: flex;
    justify-self: center;
    cursor: pointer;
}
@media only screen and (max-width: 400px){
    .ad-container{
        width: 100%;
    }
}
.u-annon{
    height: 200px;
    width: 400px;
    display: block;
    box-sizing: border-box;
    direction: ltr;
}
.u-annon-inner{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.ad-title{
    height: fit-content;
    padding: 0%;
}
.ad-message{
    background-color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: black;
    text-align: left;
    margin-top: 0px;
    padding: 3px;
}
.message p{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align: left;
    color: #1A2027;
    padding: 0px;
    margin: 0px;
}
.ad-title p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align: left;
    color: rgb(224, 133, 148);
    height: fit-content;
}

.icon{
    height: 15px;
    width: 15px;
    color: inherit;
    color: rgb(224, 133, 148);
}

/* //imported from posts.css */

.post-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 10px;
}
.post-container-inner{
    display: block;
    width: 100%;
}
.each-post{ 
    box-sizing: border-box;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid rgb(46, 46, 46); 
    border-radius: 5px;
}
.inner-post{
    width: 100%;
    box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
    border-radius: 10px;
}
a, a:hover, a:focus, a:active{
    text-decoration: none;
     color: inherit;
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
   .each-post{
       width: 100%;
   }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .body-right{
        display: none;
    }
    .body-left{
        overflow-y: scroll;
        height: 100vh;
    }
    .post-container{
        margin-top: 10px;
    }
    .inner-post{
        width: 100%;
    }
    
}
small{
    font-weight: lighter;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .body-right{
        display: none;
    }
    .each-post{
        width: 100%;
        margin-right: 0px;
    }
    .topic-header{
        width: 100%;
        border-radius: 0;
    }
    .post-text{
        width: 100%;
    }
    .display-reactions{
        width: 100%;
        border-radius: 0;
    }
    .comment-section{
        width: 100%;
    }
    .bottom-panel{
        width: 100%;
    }
    .body-left{
        overflow-y: scroll;
        height: 100%;
    }
}
.comments-input{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    background: #1A2027;
    height: 60px;
}
.topic-header{
    display: flex;
    height: fit-content;
    align-items: center;
    width: 100%;
    background: #1A2027;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: whitesmoke;
    backdrop-filter: saturate(200%) blur(30px);
    cursor: pointer;
}
.topic-left{
    height: 70px;
    width: 70px;
    display: flex;
    float: left;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.category-name{
    margin-right: 5px;
    color : rgba(192, 44, 118, 0.582);
    cursor: pointer;
    font-weight: bolder;
}
.comment-icon{
    color : rgba(192, 44, 118, 0.582);
    cursor: pointer;
    font-weight: bolder;
    text-transform: capitalize;
}
.username-icon{
    float: left;
    box-sizing: border-box;
   
}
.username-post{
    height: 25px;
    display: flex;
    align-items: center;
    color : rgba(192, 44, 118, 0.74);
    cursor: pointer;
    font-weight: bolder;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.post-icon{
    padding: 2px;
    width: fit-content;
    color: rgba(192, 44, 118, 0.582);
    font-weight: 500;
    text-transform: capitalize;
    width: 20px;
    height: 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    
}
.title-category{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px ;
    width: fit-content;

}
.topic-right{
    width: 100%;
    padding: 5px;
}
.post-topic{
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: none;
    font-weight: 400;
    text-decoration: none;
    color: rgb(194, 189, 189);
    letter-spacing: -0.125px;
    font-weight: 500;
}
p{
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: -0.125px;
    font-weight: 500;
    text-align: center;
}
.post-text{
    width: 100%;
    color: rgb(192, 187, 187);
    background-color:  #1A2027;
    backdrop-filter: saturate(200%) blur(30px);
    padding: 10px 20px;
    opacity: 1;
    height: fit-content;
    font-weight: lighter;
}
.post-content{
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.post-text-none{
    display: none;
}
.display-reactions{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #1A2027;
    backdrop-filter: saturate(200%) blur(30px);
    padding: 5px;

}
.display-reactions-2{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #1A2027;
    backdrop-filter: saturate(200%) blur(30px);
    padding: 5px;
   
}
.comment-section{
    width: 100%;
    height: fit-content;
    /* display: none; */
}
.comment-section-none{
    display: none;
}
.comments-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1A2027;
    backdrop-filter: saturate(200%) blur(30px);
    border-bottom: 1px solid gray;
    padding: 0;
}
.form-control{
    color: #1A2027;
}
.text-areas{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #1A2027;
}
.btn-div{
    width: 100%;
    background: #1A2027;
    height: 40px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none
}
.comment-btn{
    height: 100%;
    width: fit-content;
    outline: none;
    border: 0px;
    color: whitesmoke;
    background: #1A2027;
    font-size: 16px;
    direction: rtl;
    font-weight: 600;
}
.comments-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.comment-input-section{
    width: 100%;
    background-color: rgba(172, 172, 172, 0.534);
    height: fit-content;
}
.fake-comment{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
.fake-comment span{
    font-weight: 600;
    color: rgb(131, 131, 131);
    width: fit-content;
}
.text-input{
    background-color: none;
    height: 100%;
}


.comment-love{
    justify-content: space-between;
    display: flex;

}
.react-cut{
    display: flex;
    margin-right: 5px;
    flex-direction: row;
    align-items:center;

}
.react{
    font-size: small;
    margin-right: 5px;
    cursor: pointer;
    color: rgba(230, 90, 137, 0.658)
}
.react-colored{
    font-size: small;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgba(192, 44, 118, 0.582);
}
.bottom-panel{
    height: 35px;
    background: #1A2027;
    backdrop-filter: saturate(200%) blur(30px);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    /* display: none; */
}
.bottom-panel-none{
     display: none;
}
.color{
    display: block;
    height: fit-content;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 20px;
    color: white;
}
@media only screen and (max-width: 425px){
    .post-container{
        width: 100%;
        padding: 0;
        height: 100%;
        margin-top: 10px;
    }
    .each-post{
        padding: 0;
        margin-bottom: 10px;
        min-width: 100vw;
    }
    .post-container-inner{
        height: 100%;
    }
    .topic-left{
        width: 25px;
        padding: 2.5px;
    }
	.topic-header{
        min-width: 100%;
    }
    .post-text{
        width: 100%;
    }
    .comment-section{
        width: 100%;
    }
    .display-reactions{
        width: 100%;
    }
    .display-reactions-2{
        width: 100%;
    }
    .bottom-panel{
        min-width: 100%;
    }
    .edit-container{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .post-container{
        width: 100%;
        padding: 0;
        height: 100%;
        margin-top: 10px
    }
    .post-share{
        margin-top: 80px;
    }
    .mobile-container{
        margin-top: 10px;
    }
    .return1{
        padding-left: 0px;
        margin-top: 80px;
    }
    .return{
        padding-left: 0px;
        margin-top: 80px;
    }
}
@media only screen and (min-width: 600px){
    .return{
        padding-left: 80px;
    }
}
.edit-content{
    display: grid;
    justify-content: center;
    border-radius: 5px;
}
.icon{
    cursor: pointer;
}
/* ///////////////////////////// Edit section*/


.edit-container{
    width: 100%;
    height: fit-content;
}
.edit-update{
    display: grid;
    width: 100%;
    padding: 2px;
    height: fit-content;
    background-color: #1A2027;
    color: rgb(197, 192, 192);
    border-radius: 10px;
}
.topic{
    height: 50px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 10px;
    background-color: #1A2027;
    color: rgb(197, 192, 192);
}
.post-body{
    height: 400px;
    border-radius: 5;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: #1A2027;
    color: rgb(197, 192, 192);
}
.submit{
    color: rgb(201, 196, 196);
    background-color: #1A2027;
    border: 1px solid gray;
}
.btn-load-more {
    padding: 5px 10px;
    margin: 20px 0 30px 0;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
  }
   
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.return{
    display: block;
    box-sizing: border-box;
    direction: ltr;
    width: 100%;
    height: 100%;
    color: rgb(170, 165, 165);
}
.return1{
    display: block;
    box-sizing: border-box;
    direction: ltr;
    width: 100%;
    height: 100%;
    color: rgb(170, 165, 165);
}
.return .inner{
    display: flex;
    height: fit-content;
    width: 60%;
    align-items: flex-end;
    justify-content: space-between;
    color: rgb(170, 165, 165);
}
.return1 .inner{
    display: flex;
    height: fit-content;
    width: 60%;
    align-items: flex-end;
    justify-content: space-between;
    color: rgb(170, 165, 165);
}
.return .inner span{
    font-size: 15px;
    color: rgb(170, 165, 165);
    display: flex;
    align-items: center;
    justify-content: left;
}
.return1 .inner span{
    font-size: 15px;
    color: rgb(170, 165, 165);
    display: flex;
    align-items: center;
    justify-content: left;
}
.no-posts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: medium;
    margin: auto;
    height: 50px;
}