.body{
    height:100vh;
    width: 100%;
    margin: 0;
    flex: 1
}
.body-inner{
    box-sizing: border-box;
    display: flex;
    
    width: 100%;
    height: 100%;
}
.ads-veticals{
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.movie-result p{
    font-weight: 500;
    font-size: 14px;
    color: rgb(26, 107, 228);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    height: fit-content;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
}
.body-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.body-left span{
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
}
@media only screen and (max-width: 720px) {
    .body-left{
        width: 100%;
    }
    .body-right{
        display: none;
    }
}