.nav-container {
    height: 60px;
    display: block;
    box-sizing: border-box;
    direction: ltr;
    padding-right: 5px;
    padding-top: 10px;
    position: relative;
    top: 0px;
    width: 100%;
    color: rgb(228, 202, 228);
  }
.inner-nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav-logo{
    height: 50px;
    width: fit-content;
}
.logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.nav-links{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.nav-link{
    padding: 0 5px;
    display: flex;
    align-items: center;
    height: 30px;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-link{
    font-size: 14px;
    font-weight: 600;
}
.nav-link :hover{
    box-shadow: -1px 2px 10px -1px rgba(0,0,0,0.75);
      -webkit-box-shadow: -1px 2px 10px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: -1px 2px 10px -1px rgba(0,0,0,0.75);
}