.contact {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: ltr;
    justify-content: left;
    width: fit-content;
    justify-self: center;
    background-color: rgb(252, 249, 249);
    color: rgb(51, 50, 50);
    padding: 10px;
    border-radius: 5px;
    box-shadow: -1px 2px 10px -1px rgba(100, 99, 99, 0.75);
    -webkit-box-shadow: -1px 2px 10px -1px rgba(88, 86, 86, 0.75);
    -moz-box-shadow: -1px 2px 10px -1px rgba(80, 79, 79, 0.75);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .about-me-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: rgb(56, 52, 52);
    margin: 1rem 0;
    font-size: 15px;
    width: 100%;
    font-size: 1rem;
  }
  input{
      width: 300px;
      height: 50px;
      border-radius: 5px;
      outline: none;
      border: none;
      box-shadow: -1px 2px 10px -1px rgba(100, 99, 99, 0.75);
      -webkit-box-shadow: -1px 2px 10px -1px rgba(88, 86, 86, 0.75);
      -moz-box-shadow: -1px 2px 10px -1px rgba(80, 79, 79, 0.75);
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  label{
      font-size: 18px;
      font-weight: 500;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-right: 5px;
  }
  button{
      display: flex;
      align-self: center;
      margin: 0 auto;
    font-weight: 700;
    height: 30px;
    width: 100px;
    color: #333;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    box-shadow: -1px 2px 10px -1px rgba(100, 99, 99, 0.75);
      -webkit-box-shadow: -1px 2px 10px -1px rgba(88, 86, 86, 0.75);
      -moz-box-shadow: -1px 2px 10px -1px rgba(80, 79, 79, 0.75);
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .form-control:focus {
    outline: none;
    border-bottom: 1px solid #fff;
  }
  
  textarea {
    height: 10rem;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: -1px 2px 10px -1px rgba(100, 99, 99, 0.75);
    -webkit-box-shadow: -1px 2px 10px -1px rgba(88, 86, 86, 0.75);
    -moz-box-shadow: -1px 2px 10px -1px rgba(80, 79, 79, 0.75);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .btn-primary {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 1rem;
  }
  
  .btn-primary:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .contact-details {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .contact-details li {
    display: flex;
    align-items: center;
    margin: 1rem;
  }
  
  .contact-details i {
    margin-right: 1rem;
    font-size: 2rem;
  }
  
  .contact-details p {
    margin: 0;
    font-size: 1rem;
  }
  